*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#time{
    margin-top: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.content{
    border: 1px solid #c0c0c0;
    width: 30%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 7px;
    background-color: white;
}

.content .title{
   text-align: center; 
}

.content h1 ,h2{
    font-size: 2em;
    background: -webkit-linear-gradient(rgb(136, 255, 0), rgb(0, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.content .form{
    margin: 30px auto;
    width: 93%;
    padding: 7px;
    border-radius:7px;
    border: 1px solid #c0c0c0;
}

.content button{
margin-bottom: 20px;
padding: 10px;
border-radius: 5px;
border: none;   
color: white;
cursor: pointer;
}

.content .simpan-btn{
    background-color: #15ff00;
    border: 1px solid #15ff00;
}

.content .edit-btn{
    margin-left: 40px;
    background-color: #ffae00;
    border: 1px solid #ffae00;
}

.content .hapus-btn{
    background-color: red;
    border: 1px solid red;
}

button[class="simpan-btn"]:hover{
    background-color: white;
    border: 1px solid #15ff00;
    color: #15ff00;
}

button[class="edit-btn"]:hover{
    background-color: white;
    border: 1px solid #ffae00;
    color: #ffae00;
}

button[class="hapus-btn"]:hover{
    background-color: white;
    border: 1px solid red;
    color: red;
}    

h2{
text-align: center;  
margin-bottom: 40px;  
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}